name: Build MobileBloxV2

on: 
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Android NDK
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r25c
        link-to-sdk: true
        
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake ninja-build
        
    - name: Build ARM32
      run: |
        cd NativeLib
        mkdir -p build && cd build
        cmake -G Ninja \
              -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_HOME/build/cmake/android.toolchain.cmake \
              -DANDROID_ABI=armeabi-v7a \
              -DANDROID_PLATFORM=android-21 \
              -DCMAKE_BUILD_TYPE=Release \
              ..
        ninja
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: mobileblox-lib
        path: NativeLib/build/libmobileblox.so
        retention-days: 7
